<!DOCTYPE html>
<link rel="stylesheet" href="/style/style.css"></link>

<title></title>
<style>
	
</style>


<form method="POST">
Remove a Class
<br>
<div id="alert">
{{noClass_msg}}
</div>
<div id="success">
	{{success_msg}}
</div>
	class Number<input type="String" name="classNumber"><br>
	<input type="submit" id="button" value = "remove this class!">
</form>
{{success}}{{failure}}
