<!DOCTYPE html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="/style/showClasses.css"/>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<form method="GET">
  Filter Books By:
	<select name= "filter" id="filter">
    <option value="name" name= "name">name</option>
    <option value="professor" name= "professor">professor</option>
	<option value="classNumber" name= "classNumber">class Number</option>
  </select>
	<input type="text" name="value">
	<input type="submit" id="button" value = "filter">
</form>
<br>
	<br>
	<ul class="row">
		<h3 class="col-md-4"> name</h3> <h3 class="col-md-4">Professor</h3> <h3 class="col-md-4">class Number</h3> 
	
	{{#each myclasses}}
	 <p class="col-md-4"> <a href="/classinfo/{{this.name}}">class:{{this.name}}</a></p>  <p class="col-md-4">Professor:{{this.professor}}</p>  <p class="col-md-4">class#:{{this.classNumber}}</p></a>
	{{/each}}
	</ul>

</body>
